#container {
    display: flex;
    gap: 10px;
}

.square {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100px;
    width: 100px;
}

.read {
    background-color: green;
}

.notRead {
    background-color: red;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}